*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(59, 23, 160);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola{
    background-image: linear-gradient(rgb(59, 23, 160),rgb(130, 94, 231));
    color: white;
    display: flex;
}
