*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: rgb(113, 79, 206);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola{
    background-image: linear-gradient(rgb(113, 79, 206),rgba(99, 77, 161, 0.932));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px 0;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}
