.cabecalho {
    background-color: rgb(59, 23, 160);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}